

body {
	background-color: #314052;
}


header{
	height: 4rem;
	padding-left: 2.5em;
	padding-right: 2.5em;

}

a {
	text-decoration: none;
	color: #314052;
}

h1 {
	font-size: 3.36rem;
	font-family: Kameron, serif;	
}

h2 {
	font-size: 2.08rem;
	font-family: Kameron, serif;
}

h3 {
	font-size: 1.29rem;
	font-family: Muli, sans-serif;
}


#blue-page {
	padding-left: 2.5em;
	padding-right: 2.5em;
	background-color: #314052;
	height: 900px;

}

#white-page {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	background-color: #FFFFFF;
	height: 900px;

}


.top-menu{ 
	float: right;
	font-family: Kameron, serif;
	font-size: 1.125rem;
	margin-top: 1.7rem;
	text-decoration: none;
}

#white-privacy{
	color: #FFFFFF;
}

#white-house {
	float: left;
	margin-top: 1.25em;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;
}


#frontpage-text-wrapper {
	width: 90%;
	margin-top: 5rem;
	margin-left: 8.51%;
}

#Introtext{
	display: block;
	color: #FFFFFF;
}


#Catchphrase {
	margin-top: .625rem;
	font-size: 1.6875rem;
	font-family: Muli, sans-serif;	
}

#Instructions {
	margin-top: 6.375rem;
	margin-left: 1.6rem;
	font-family: Muli;
	font-size: 1.1rem;
	line-height: 150%;
	color: #73F5B9;
}



#Zip-input{
	margin-top: 2rem;
	font-family: Muli;
	color: #FFFFFF;
	font-size: 1.375rem; 
}

#zip-intro{
	display: inline;
}

#Zip-form{
	display: inline;
}

#Zip-code{
	background-color: transparent;
	font-size: 1.375rem;
	font-family: Muli;
	margin-bottom: .1875rem;
	color: #73F5B9;
	border-width: 0px 0px 1px 0px; 
	border-style: dotted;
	border-color: #73F5B9;
	width: 4.2rem;
	display: inline;
}

#Submit-button {
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	margin-top: 1.4075rem;
	padding: .9375rem;
	font-size: 1.25rem;
	background-color: transparent;
	color: #FFFFFF;
	cursor: pointer;
}

#Submit-button:hover{
	background-color: #222C38;
}

#teach-me-text{
	width: 90%;
	text-align: center;
	margin: 0 auto;
	font-family: Muli;
	font-size: 1.125rem;
	margin-top: 3rem;
	color: #FFFFFF;
	display: block;
}

#down-arrow{
	width: 1.125rem;
	margin: 0 auto;
	margin-top: 1.5rem;
	cursor: pointer;
}

.house{
	margin-top: 1rem;
	display: inline;
	float: left;
}

.blue-nav {
	margin-left: 1rem;
}

hr{
	margin-right: -2.5em;
	margin-left: -2.5em;
	color: #314052;
	height: 1rem;
	border: 0;
	box-shadow: inset 0 .8rem .7rem -1rem #314052;
}

.instruction-header{
	width: 50rem;
	margin: 0 auto;
	margin-top: 3.19rem;
	margin-bottom: 4rem;
	text-align: center;
	color: #314052;
}

.learning-nav-box-left{
	margin-top: 5.75rem;
	float: left;
	width: 6.125rem;
	height: 2.375rem;
	}


.learning-nav-triangle-left{
	margin-top: 5%;
	float: left;
}

#learning-nav-text{
	float: right;
	width: 80%;
	height: 100%;
	font-family: Muli;
	font-size: 1rem;
	color: #314052;
	text-align: center;
}


.learning-nav-box-right{
	margin-top: 5.75rem;
	float: right;
	width: 7.5rem;
	height: 2.375rem;
}

.learning-nav-triangle-right{
	margin-top: 5%;
	float: right;
}
#learning-nav-infographic{
	float: left;
	width: 80%;
	height: 100%;
	font-family: Muli;
	font-size: 1rem;
	color: #314052;
	text-align: center;
}


#video { 
	width: 35rem;
	height: 37.62%;
	margin: 0 auto;
	display: block;
	border: solid 1px black;
}

#ask-again {
	width: 40%;
	text-align: center;
	margin: 0 auto;
	margin-top: 5rem;
}

#Zip-input-retry{
	width: 22.8rem;
	margin: 0 auto;
	margin-top: 12rem;
	font-family: Muli;
	color: #314052;
	font-size: 1.29rem;
	display: block;
}

#zip-intro-retry{
	display: inline;
}

#Zip-form-retry{
	display: inline;
}

#Zip-code-retry{
	background-color: transparent;
	color: #314052;
	border-width: 0px 0px 1px 0px; 
	border-style: dotted;
	border-color: #314052;
	width: 4.2rem;
	display: inline;
	font-size: 1rem;
	font-style: Muli;
	margin-bottom: 2px;
}

#Submit-button-retry {
	height: 2.314052rem;
	width: 7.5rem;
	border-style: solid;
	border-width: 1px;
	border-color: #314052;
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
	margin-right: auto;
	font-size: 1rem;
	background-color: #73F5B9;
	color: #314052;
	cursor: pointer;
}

#Submit-button-retry:hover{
	background-color: #55B689;
	color: #FFFFFF;
}


