body {
	text-align: left;
	background: url(assets1/stripes.png), url(assets1/background.jpg);
	background-repeat: repeat-x,  no-repeat;
	background-size: 620px, cover;
	color: white;
	font-family: helvetica;
	border: 0;
	margin: 0;
	padding: 0;
	left: 100px;
}

#logo {position: absolute;
	left: 100px;
	top: 260px;
}

hr {
    width: 50px;
	border-color: red;
	top: 325px;
	left: 100px;
	position: absolute;
}

p{
	margin-left: 100px;
	margin-top: 370px;
	font-size: 20pt;
	font-weight: lighter;
	line-height: 100%;
}

a{
	margin-left: 100px;;
}